body{
	background-image: url("webbackg.jpeg");
	background-repeat:
}
	h1{
		color: white;
	}

	.floatRight{
		float: right;
	}

	ol {
	list-style-type: none;
	margin:0;
	padding:0;
	}
	li a{
	display: inline-block;
	width: 130px;
	height: 70px;
	background-color: tomato;
	text-decoration: none;
	}
	li a{
		text-align: left;
		border: transparent;
	}
	
	li a:hover{
		background-color: hotpink;
		color: yellow;
	}