h1{
	background-color: orange <!--dont forget about the divs and shit-->
}
.para1{
	text-align: center;
	color:	gray;
}

ol {
	list-style-type: none;
	margin:0;
	padding:1;
	}

	li a{
	display: block;
	width: 130px;
	background-color: green;
	text-decoration: none;
	}
	li a:hover{
		background-color: hotpink;
		color: yellow;
}

.floatRight{
	float: right
}
p {
	font-style: sans-serif
}

